* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255, 211, 183);
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 16rem;
}

